{% extends "base.html" %}

{% block title %}Logged out{% endblock title %}

{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Logged out</h3>
                            <p>
                                You have been successfuly logged out.
                                You can <a href="{% url "account:login" %}">log-in</a> again.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
