{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create a task{% endblock title %}

{% block content %}

    <section class="h-100 h-custom">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-12">
                    <div class="float-end">
                        <div class="btn-group" role="group" aria-label="Toggle task status">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                   checked>
                            <label class="btn btn-outline-secondary" for="btnradio1">All</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btnradio2">Completed</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btnradio3">ToDo</label>
                        </div>
                    </div>
                    <table class="table align-middle mb-0 bg-white">
                        <thead>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Completed</th>
                        <th></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tasks %}
                            <tr>
                                <td style="word-wrap: break-word;min-width: 160px;max-width: 800px;">
                                    <p class="fw-normal mb-1">{{ t.title }}</p>
                                    {% if t.tags.all %}
                                        {% for tag in t.tags.all %}
                                            <a href="{% url "tasks:task-list-by-tag" tag.slug %}"
                                               class="text-decoration-none badge rounded-pill bg-info text-dark">
                                                {{ tag.name }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">{{ t.due_date }}</p>
                                </td>
                                <td>{{ t.completed }}</td>
                                <td><a class="link-secondary" href="{% url 'tasks:task-edit' t.pk %}">edit</a></td>
                                <td><a class="link-secondary" href="{% url 'tasks:task-delete' t.pk %}">delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
