{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title">{{ user_profile.user.username }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h6>
                            <span>{{ user_profile.user.email }}</span>
                            <hr class="mt-1 mb-1"/>
                            <span class="small">Joined {{ user_profile.user.date_joined |date:"M j, Y" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}